<% layout('./layouts/boilerplate') %>

<div class="container mt-5">
  <% if(message && message.error){ %>
  <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
    <strong>Warning:</strong> <%= message.error %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %> <% if(message && message.success){ %>
  <div
    class="alert alert-success alert-dismissible fade show mt-2"
    role="alert"
  >
    <strong>Warning:</strong> <%= message.success %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %>
  <h1 class="mb-4">My Passwords</h1>

  <% if (userPasswords.length === 0) { %>
  <p>No Passwords added</p>
  <% } else { %>
  <div class="row">
    <% for (let user of userPasswords) { %>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= user.socialName %></h5>
          <% if (!user.socialPassword) { %>
          <div class="alert alert-danger" role="alert">
            <strong>Alert:</strong> It appears the password for <%=
            user.socialName %> has been tampered with. For your security, please
            reset this password immediately.
          </div>

          <% } else { %>
          <p class="card-text"><%= user.socialPassword %></p>
          <% } %>
          <a
            href="/user/updatepassword/<%= user._id %>"
            class="btn btn-primary mr-2"
            >Update Password</a
          >
          <form
            action="/user/deletepassword/<%= user._id %>?_method=DELETE"
            method="post"
            class="d-inline"
          >
            <button type="submit" class="btn btn-danger">
              Delete Password
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <% } %>

  <a href="/user" class="btn btn-link mt-4">Home</a>
</div>

<!-- Bootstrap CSS (Assuming Bootstrap is included in your layout) -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
